@font-face {
  font-family: "Decoder";
  src: url("../font/DECODER_.TTF") format("truetype"); 
}

/* colores y estilos que se repetiran */

:root {
  --font-size: 16px;
  --font-weight: 400;

  --color-background: #f5f7fa;
  --color-font: #000000;
  --color-white: #fff;
  --color-star: gold;

  --size-header: 90px;
  --size-nav-item: 55px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Decoder", sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: #000000;
}


.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-column {
  display: flex;
  flex-direction: column;
}

.fx-content-space-between {
  justify-content: space-between;
}

.fx-content-center {
  justify-content: center;
}

.fx-align-items-center {
  align-items: center;
}

header {
  position: fixed;
  background:#E0E1DD;
  width: 100%;
  height: var(--size-header);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.10);
  z-index: 1;
}

#logo,
#contacto {
  height: var(--size-nav-item);
  width: var(--size-nav-item);
  margin: 10px;
}

#logo,
#contacto > img {
  width: auto;
  padding: 5px;
}

nav {
  height: var(--size-nav-item);
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 0.75rem 2rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav li:hover,
#contacto:hover {
  background-color: #52307c;
  border-radius: 8px;
}


section {
  scroll-margin-top: var(--size-header);
  padding: calc(var(--size-header) / 2) var(--size-header);
}

section > h1 {
  color: #52307c;
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 5px solid #52307c;
  margin-bottom: 2rem;
}

section#artista_destacado {
  background-image: url(/img/mine/cdbg.gif);
}

section#top_canciones {
  padding: 0;
}



#home {
  height: 100vh;
  background: url("../img/mine/background2.gif");
  background-size: auto;
  color: var(--color-white);
}

.home-banner {
  gap: 1rem;

  padding: 3rem;
}

.home-banner > h1 {
  text-transform: uppercase;
  font-size: 70px;
}

.home-banner > h3 {
  font-size: 1.5rem;
}


section#destacados{
  background-image: url(/img/mine/bubble1.gif);


}

.destacados-container {
  padding: 0 90px;
  gap: 90px;
}

.destacado-info {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background: #E0E1DD;
  box-shadow: 0 10px 8px rgba(95, 186, 167, 0.1);
  border-radius: 100px;
  font-size: 25px;
  
}

.destacado-info h3 {
font-size: 50px;
}

.destacado-info img {
  max-width: 100%;
}

.star-rating {
  color: var(--color-star);
  font-size: 4rem;
}

.clientes-comentarios {
  flex: 1;
  gap: 80px;
}

.comentario {
  gap: 10px;
  padding: 15px;
  background-color: #E0E1DD;
  border-radius: 8px;
}

.cliente img {
  width: 200px;
  border-radius: 70%;
}

.cliente-mensaje {
  flex: 1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0.75rem;
}

.cliente-firma {
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  margin-top: 2rem;
}


.card {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin: 20px;
  background-color: #E0E1DD;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 3px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 5rem;
}

.card p {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

button.btn,
a.button-link {
  cursor: pointer;
  background-color: black;
  color: var(--color-white);
  font-size: 1.25rem;
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  border: none;
  border-radius: 21px;
  transition: color 0.5s;
}

a.button-link {
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

button.btn:hover,
a.button-link:hover {
  background-color: #52307c;
}


section#prox_eventos{
  background-image: url(/img/mine/cdbg.gif);
}

.galeria-container {
  flex-flow: wrap;
}

.galeria-img {
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.galeria-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.galeria-overlay-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

section#top_canciones{
background-image: url(/img/mine/bubble1.gif);
}


.galeria-container {
  flex-flow: wrap;
}

.galeria-img {
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.galeria-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.galeria-overlay-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}


footer {
  background: #E0E1DD;
  color: black;
  text-align: center;
  padding: 6rem 3rem;
}

.contacto-container {
  width: 600px;
  max-width: 100%;
}

.contacto-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 8px;
  border: 1px solid var(--color-background);
  border-radius: 3px;
}


.redes-sociales {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.redes-sociales ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redes-sociales li {
  margin-right: 10px;
}

.redes-sociales img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  border: radius 50px
  }

.redes-sociales p{
  font-size: 30px;
  margin-top: 30px;
}


#btn-ir-arriba {
  display: none;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background: black;
  color: var(--color-white);
  height: var(--size-nav-item);
  width: var(--size-nav-item);
  border-radius: calc(var(--size-nav-item) / 2);
  border: none;

  box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
  transition: 300ms ease;
}

#btn-ir-arriba:hover {
  background: #52307c;
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  width: calc(var(--size-nav-item) / 2);
  fill: none;
  stroke: var(--color-white);
  stroke-width: 3px;
}


@media screen and (max-width: 1440px) {

  body {
    font-size: 14px;
  }

  section {
    padding: 40px 70px;
  }

  .destacados-container {
    padding: 0;
    gap: 45px;
  }

  .card {
    padding: 1.5rem;
    margin: 1.5rem;
  }

  .galeria-img {
    max-width: 350px;
    padding: 1rem;
    margin: 1rem;
  }

}

@media screen and (max-width: 1024px) {

  body {
    font-size: 13px;
  }

  section {
    padding: 40px 50px;
  }

  section > h1 {
    font-size: 10px;
  }

  nav {
    font-size: 1.125rem;
  }

  .destacados-container {
    gap: 20px;
  }

  .card {
    padding: 0.9rem;
    margin: 0.9rem;
  }

  .galeria-img {
    max-width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}


@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
    padding-right: 0;
    width: 100%;
  }

  nav {
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 0;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  body {
    font-size: 12px;
  }

  section {
    padding: 40px 45px;
  }

  .xs-hide {
    display: none;
  }

  .fx-xs-column {
    display: flex;
    flex-direction: column;
  }

  .card {
    padding: 40px;
    margin: 20px 0;
  }

  .galeria-img {
    max-width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
  }

  button.btn,
  a.button-link {
    font-size: 1rem;
  }

}

